* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.caja {
    border: 1px solid black;
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 600px;
    height: 700px;
}

.arriba {
    border: 1px solid black;
    background-color: white;
    height: 110px;
    padding: 20px;
    display: flex;
    gap: 20px;
}

img {
    width: 150px;
    border: 1px solid black;
}

.arriba div {
    border: 1px solid black;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.medio {
    border: 1px solid black;
    background-color: white;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.medio p {
    border: 1px solid rgb(157, 21, 21);
    padding: 20px;
}

.abajo {
    border: 1px solid black;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: orangered;
    color: white;
    padding: 15px 50px;
    font-size: 20px;
}
